# zsh stuff
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory

# theme
fpath+=($HOME/.zsh/agkozak-zsh-prompt)
autoload -U promptinit; promptinit

export AGKOZAK_COLORS_BG_STRING=white
export AGKOZAK_COLORS_PROMPT_CHAR=magenta
export AGKOZAK_COLORS_PATH=cyan
export AGKOZAK_PROMPT_DIRTRIM=0
export AGKOZAK_DIR_LEVELS=1
export AGKOZAK_USER_HOST_DISPLAY=0
export AGKOZAK_PROMPT_CHAR=( ❯ %# ❮ )
export AGKOZAK_LEFT_PROMPT_ONLY=1
export AGKOZAK_MULTILINE=0
export AGKOZAK_SHOW_STASH=0
export AGKOZAK_CUSTOM_SYMBOLS=( '⇣⇡' '⇣' '⇡' '+' 'x' '!' '>' '?' 'S')
export AGKOZAK_PROMPT_DIRTRIM_STRING=$'\u2026'

prompt agkozak-zsh-prompt

# env
exists() {
  command -v "$1" >/dev/null 2>&1
}

if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if exists zoxide; then
  eval "$(zoxide init zsh)"
fi

if exists fzf; then
  eval "$(fzf --zsh)"
fi

if exists nvim; then
  export EDITOR='nvim'
else
  export EDITOR='vim'
fi

if [[ -f ~/.cargo/env ]]; then
  . ~/.cargo/env
fi

# deno did this?
# if [[ ":$FPATH:" != *":/home/gabe/.zsh/completions:"* ]]; then export FPATH="/home/gabe/.zsh/completions:$FPATH"; fi
if [[ -f ~/.deno/env ]]; then
  . ~/.deno/env
fi

if exists go; then
  PATH=$PATH:~/go/bin
fi

if exists snap; then
  PATH=$PATH:/snap/bin
fi

if [[ $TERM == "xterm-kitty" ]]; then
  alias s="kitten ssh"
  alias icat="kitten icat"
  alias kclip="kitten clipboard"
fi
alias ls='ls --color=auto'
alias dup="docker compose up -d"
alias ddown="docker compose down"
alias venv=". ./.venv/bin/activate"
alias unvenv="deactivate"
alias gdu='gdu-disk-usage-analyzer.gdu'

# external stuff
{{- if eq .chezmoi.hostname "melinoe" }}
export CODESTATS_API_KEY={{- (onepasswordDetailsFields "qboyq43o3sctuyauhbrjxqryc4").credential.value }}
{{- else if eq .chezmoi.hostname "macaria" }}
export CODESTATS_API_KEY={{- (onepasswordDetailsFields "xvfqyhbptjjwhtldojxx3ybw3m").credential.value }}
{{- else if eq .chezmoi.hostname "mac-mini" }}
export CODESTATS_API_KEY={{- (onepasswordDetailsFields "pu6atreg7aimse7k3on3ilkcgu").credential.value }}
{{- end }}
if [[ -n "${CODESTATS_API_KEY:+1}" ]]; then
  . ~/.zsh/code-stats-zsh/codestats.plugin.zsh
fi

if [[ -f ~/.config/op/plugins.sh ]]; then
  . ~/.config/op/plugins.sh
fi

if [[ -f ~/local.zsh ]]; then
  . ~/local.zsh
fi
