[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gabe
{{- if eq .chezmoi.hostname "work-laptop" }}
	email = gabriel.k@yobeinc.com
{{- else }}
	email = gabeklav@fastmail.com
{{- end }}
[core]
	longpaths = true
	editor = nvim
[push]
	autoSetupRemote = true
[merge]
	tool = smerge
