[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gabe
{{- if eq .chezmoi.hostname "work-laptop" }}
	email = gabriel.k@yobeinc.com
{{- else }}
	email = gabeklav@fastmail.com
{{- end }}
[core]
	longpaths = true
	editor = nvim
[push]
	autoSetupRemote = true
[merge]
	tool = nvimdiff
{{- if ne .chezmoi.hostname "work-laptop" }}
{{- if eq .chezmoi.os "windows" }}
[core]
	sshCommand = {{ .chezmoi.homeDir }}/scoop/shims/ssh.exe
{{- end }}
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIISmB/2bA7OVnUv78ef/CrLSH8tloqrC1poQqdN/c5e4
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}
	program = "/opt/1Password/op-ssh-sign"
{{- else if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- end }}
[commit]
	gpgsign = true
{{- end }}

# these necessitate a manually created non-expiring token for `gh auth login`
# https://github.com/cli/cli/discussions/4500#discussioncomment-1498442
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
