Host localhost
	HostName localhost
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

Host hades
	user gabe
	ForwardAgent yes

Host l33tnasx
	User leet
	IdentityFile ~/.ssh/id_ed25519

Host kronos
	User gabe
	ForwardAgent yes

{{- if or (eq .chezmoi.hostname "melinoe") (eq .chezmoi.hostname "macaria") }}
Host clash-build
	HostName {{ onepasswordRead "op://Personal/Clash Build Host/URL" }}
	User {{ onepasswordRead "op://Personal/Clash Build Host/username" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/mac web VNC" }} 127.0.0.1:{{- onepasswordRead "op://Personal/Clash Build Host/Ports/mac web VNC" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/mac SSH" }} 127.0.0.1:{{- onepasswordRead "op://Personal/Clash Build Host/Ports/mac SSH" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/mac VNC" }} 127.0.0.1:{{- onepasswordRead "op://Personal/Clash Build Host/Ports/mac VNC" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/win web VNC" }} 127.0.0.1:{{ onepasswordRead "op://Personal/Clash Build Host/Ports/win web VNC" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/win SSH" }} 127.0.0.1:{{ onepasswordRead "op://Personal/Clash Build Host/Ports/win SSH" }}
	LocalForward {{ onepasswordRead "op://Personal/Clash Build Host/Ports/win RDP" }} 127.0.0.1:{{ onepasswordRead "op://Personal/Clash Build Host/Ports/win RDP" }}
Host clash-mac-vm
	HostName localhost
	Port {{ onepasswordRead "op://Personal/Clash Build Host/Ports/mac SSH" }}
	User clash
	ForwardAgent yes
Host clash-win-vm
	HostName localhost
	Port {{ onepasswordRead "op://Personal/Clash Build Host/Ports/win SSH" }}
	User clash
	ForwardAgent yes
Host mac-vm
	HostName localhost
	Port 9022
	User gabe
	ForwardAgent yes
Host clash-qa
	HostName {{ onepasswordRead "op://Personal/Clash QA/URL" }}
Host clash-staging
	HostName {{ onepasswordRead "op://Personal/Clash Staging/URL" }}
Host clash-prod
	HostName {{ onepasswordRead "op://Private/Clash Prod/URL" }}
Host clash-atlassian
	HostName {{ onepasswordRead "op://Private/Clash Atlassian/URL" }}
Host clash-website
	HostName {{ onepasswordRead "op://Private/Clash Website VM/URL" }}
	User {{ onepasswordRead "op://Private/Clash Website VM/username" }}
Host clash-bots
	HostName {{ onepasswordRead "op://Private/Clash Bots/URL" }}
Host clash-support
	HostName {{ onepasswordRead "op://Private/Clash Support VM/URL" }}
Host clash-bw
	HostName {{ onepasswordRead "op://Private/Clash Bitwarden VM/URL" }}
Host clash-cogsink
	HostName {{ onepasswordRead "op://Private/Clash Cogs.ink VM/URL" }}
	User {{ onepasswordRead "op://Private/Clash Cogs.ink VM/username" }}
Host clash-forgejo
	HostName {{ onepasswordRead "op://Private/Clash Forgejo/URL" }}

Host *.corpclash.com
	User {{ onepasswordRead "op://Private/Clash Prod/username" }}
	ForwardAgent yes
{{- end }}

Host *
	SetEnv TERM=xterm-256color # sorry kitty
