Host localhost
	HostName localhost
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

{{- if eq .chezmoi.os "linux" }}
Host *
	IdentityAgent ~/.1password/agent.sock
{{- else if eq .chezmoi.os "darwin" }}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host mac-mini
	HostName mac-mini.local
	User gabe

Host clash-mac
	HostName {{ onepasswordRead "op://Personal/Clash MacOS Build/URL" }}
	User {{ onepasswordRead "op://Personal/Clash MacOS Build/username" }}
